[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
pandas = "*"
requests = "*"
regex = "*"
bs4 = "*"
html5lib = "*"
selenium = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.8"
